h2 {
    margin-block-start: 3px;
    margin-block-end: 3px;  
}

h4 {
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 25px;  
}

body {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    
}

.container {
    padding: 10px;
    height: 200px;
    border: 1px solid black;
}
.User.Story {
    border-top: 10px solid #42aaf5;
}

.Sub-task {
    border-top: 10px solid #fafc65;
}

.Bug {
    border-top: 10px solid red;
}

.issueTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

